
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("vacation.jpg");
    background-size:     cover;     
    background-repeat:   no-repeat;
}

.main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size:     cover;     
    background-repeat:   no-repeat;
}

.navbar {
    height: 50px;
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    margin-top: 10px;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
    padding: 5px;
}

.icon h1 {
    color: #0488A1;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    padding-top: 15px;
    letter-spacing: 1px;
    float: left;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
    text-align: center;
}

.menu ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    margin-left: 60px;
    font-size: 16px;
    margin-top: 22px;
}

.menu ul li a {
    text-decoration: none;
    color: #0488A1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
    
.menu ul li a:hover {
    color: #FFBA7D;
}

.search {
    width: calc(100% - 600px);;
    float: right;
    margin-left: 280px;
}

.srch {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 200px;
    height: 30px;
    background: transparent;
    border: 2px solid #0488A1;
    margin-top: 13px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.btnSrch {
    width: 70px;
    height: 30px;
    background: #0488A1;
    border: 2px solid #0488A1;
    margin-top: 13px;
    color: white;
    border-left: none;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;

    text-align: center;
}

.btnSrch:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}
 
.btnRst {
    width: 70px;
    height: 30px;
    background: #0488A1;
    border: 2px solid #0488A1;
    color: white;
    border-left: none;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}
 
.btnRst:focus {
    outline: none;
}

.context {
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    color: #FFBA7D;
}

.context h2 {
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: small;
}

.context h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding-left: 50px;
    margin-top: 50px;
    letter-spacing: 2px;
    text-align: left;
}

.bookBtn {
    width: 160px;
    height: 40px;
    background: rgba(255, 186, 125, 0.8);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-decoration: none;
    border: 2px solid rgba(255, 186, 125, 0.8);
    text-align: center;
    margin-left: 50px;
}

.bookBtn:focus {
    outline: none;
}