
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("vacation.jpg");
    background-size:     cover;     
    background-repeat:   no-repeat;
}

.main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size:     cover;     
    background-repeat:   no-repeat;
}

.navbar {
    height: 60px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
    padding: 5px;
}

.icon h1 {
    color: #FFAD00;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 80px;
    padding-top: 15px;
    letter-spacing: 1px;
    float: left;
    font-weight: bold;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
    text-align: center;
    margin-left: 160px;
    margin-top: 20px;
    flex: 1;
}

.menu ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.menu ul li {
    list-style: none;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 22px;
    white-space: nowrap;
}

.menu ul li a {
    text-decoration: none;
    color: #0488A1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
}
    
.menu ul li a:hover {
    color: #FFAD00;
}

.search {
    width: calc(100% - 600px);;
    float: right;
    margin-left: 130px;
    margin-bottom: 10px;
}

.srch {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 200px;
    height: 30px;
    background: transparent;
    border: 2px solid #0488A1;
    margin-top: 13px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.btnSrch {
    width: 80px;
    height: 30px;
    background: #0488A1;
    border: 2px solid #0488A1;
    margin-top: 13px;
    color: white;
    border-left: none;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    text-align: center;
    z-index: 999;
    position: relative;
}

.btnSrch:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}
 
.btnRst {
    width: 80px;
    height: 30px;
    background: #0488A1;
    border: 2px solid #0488A1;
    color: white;
    border-left: none;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    z-index: 999;
    position: relative;
}
 
.btnRst:focus {
    outline: none;
}

.context {
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    color: #5F742F;
}

.context h2 {
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: small;
}

.context h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding-left: 50px;
    margin-top: 50px;
    text-align: left;
}

.bookBtn {
    width: 160px;
    height: 40px;
    background: #FFAD00;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-decoration: none;
    border: 2px solid rgba(255, 186, 125, 0.8);
    text-align: center;
    margin-left: 50px;
}

.bookBtn:focus {
    outline: none;
}

.contactForm {
    max-width: 500px;
}

.contactForm h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    padding-left: 80px;
    margin-top: 50px;
    text-align: left;
    color: #5F742F;
}

.contactForm h2 {
    padding-left: 80px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: medium;
    color: #5F742F;
}

.contactForm label {
    color: #5F742F;
    font-weight: bold;
    padding-left: 80px;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}
  
.contactForm input {
    margin-left: 80px;
    width: 400px;
    margin-bottom: 15px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(95, 116, 47, 0.8);
}
  
.contactForm button {
    width: 100px;
    height: 40px;
    background: #FFAD00;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-decoration: none;
    border: 2px solid rgba(255, 186, 125, 0.8);
    text-align: center;
    margin-left:80px;
    margin-top: 10px;
}

.about h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    padding-left: 80px;
    margin-top: 50px;
    letter-spacing: 2px;
    text-align: left;
    color: #5F742F;
}

.about h2 {
    padding-left: 80px;
    padding-bottom: 30px;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: medium;
    color: #5F742F;
    width: 800px;
}

.team-container {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
}

.team-headline {
    font-size: 35px;
    color: #5F742F;
    margin-right: 40px;
    align-self: flex-start;
    margin-left: 80px;
}

.profiles-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 800px;
    margin-left: 55px;
}

.profile {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 10px;
    flex: 1;
}

.profile-photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #FFAD00;
    margin-bottom: 10px;
}

.profile-headline {
    font-size: 22px;
    color: #333;
}

.profile-explanation {
    font-size: 16px;
    color: #666;
}

.result-window {
    display: none; 
    position: fixed;
    top: 60px; 
    right: 0;
    width: 365px;
    margin-right: 68px;
    max-height: calc(100% - 50px);
    overflow-y: auto; 
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #0488A1;
    padding: 20px;
    z-index: 999; 
}

.result-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.result-title {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.result-description {
    font-size: small;
    color: #666;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.result-time {
    font-size: small;
    font-weight: bold;
    color: #666;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}